<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Le Auto</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark static-top">
      <div class="container">
        <!--Logo Text-->
        <a class="navbar-brand" href="./index.html">Le Auto</a>
        <!--Navigation Toggle Button (For Mobile Screen)-->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--Navigation Links-->
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./index.html">Buy Cars </a>
              <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./crud.html">Add Cars</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <!--Heading Text-->
      <div class="col-md-12 text-center text-capitalize">
        <h1 class="mt-4">Le Auto's Order System</h1>
        <p class="lead">Use the following system to Order our cars</p>
      </div>
      <!--Form and Table Element Container Row-->
      <div class="row">
        <!--Form Element-->
        <div class="col-md-4">
          <form class="mt-3">
            <p class="h5">Highlight Cars</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="mb-4">
                <input
                  type="checkbox"
                  name="highlightDiesel"
                  id="highlightDiesel"
                />
                <span class="text-success">Eco Friendly</span>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">&pound;</span>
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="Total"
                name="txtBillAmt"
              />
              <input
                class="btn btn-block btn-secondary mt-2"
                type="button"
                name="btnCalcBill"
                value="Calculate Bill"
                id="calcBill"
              />
            </div>
          </form>
        </div>
        <!--Table Code-->
        <div class="col-md-8">
          <table class="mt-2">
            <tr>
              <th style="width: 5%">Select</th>
              <th style="width: 35%">Name</th>
              <th style="width: 15%">Fuel</th>
              <th style="width: 15%">Price</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--End of Form and Table Element Container Row-->
    <!--Footer Element-->
    <footer class="footer">
      <div class="container text-center">
        <span class="text-light">&copy; 2020 Le Auto</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
